* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.grid > * {
    display: grid;
}

aside {
    background-color: deepskyblue;
    grid-row: 1 / 3;
    padding: 1.5rem;
    display: grid;
    align-content: start;
    gap: 2rem;
    color: white;
}

nav {
    display: grid;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    background-color: rgba(211, 211, 211, 0.7);
    border-radius: 10px;
}

.dashboard, nav > a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.dashboard {
    padding: 0;
}

header {
    background-color: white;
}

main {
    background-color: aliceblue;
}

aside svg {
    fill: white;
}