* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    overflow: hidden;
}

.grid > * {
    display: grid;
}

aside {
    background-color: rgb(0, 160, 255);
    grid-row: 1 / 3;
    padding: 1.5rem;
    display: grid;
    align-content: start;
    gap: 2rem;
    color: white;
    overflow-y: auto;
}

aside svg {
    fill: white;
}

nav {
    display: grid;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    background-color: rgba(211, 211, 211, 0.7);
    border-radius: 10px;
}

button {
    background: none;
    border: none;
    padding: 0.5rem;
    border-radius: 50%;
}

button:hover {
    background-color: rgba(211, 211, 211, 0.7);
}

.dashboard, nav > a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.dashboard {
    padding: 0;
}

header {
    background-color: white;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    z-index: 10;
}

.upper, .lower, .lower > * {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lower > * {
    padding: 0;
    gap: 1rem;
}

input {
    width: 50rem;
    height: 2rem;
    padding: 1rem;
    font-size: large;
    border-radius: 2rem;
    background-color: rgb(220, 225, 240);
    border: none;
}

.searchbar, .profile, #profile-upper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#search-icon {
    cursor: pointer;
}

#profile-upper {
    border-radius: 1rem;
}

.profile-lower, .trending-profile {
    background-color: rgba(211, 211, 211, 0.7);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.greeting {
    display: grid;
}

.media button {
    background-color: rgb(0, 160, 255);
    width: 7rem;
    border-radius: 1rem;
    font-size: small;
    font-weight: 600;
    color: white;
}

.media button:hover {
    background-color: rgb(0, 100, 160);
}

main {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow-y: auto;
}

.projects {
    grid-row: 1 / 3;
    margin: 1rem;
}

.projects h2, .partone h2, .parttwo h2 {
    margin: 10px 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-content: start;
    gap: 2rem;
}

.card {
    padding: 2rem;
    border-radius: 1rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    height: 14rem;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 2.5rem;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.15);
}

.card::before {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 100%;
    top: 0;
    left: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #FFC300;
}

.card h3 {
    margin-bottom: 5px;
}

.action {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.partone, .parttwo {
    margin: 1rem;
}

.annoucements, .trending {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.15);
}

p {
    color: rgb(108, 108, 108);
}

hr {
    color: lightgray;
}