* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.grid > * {
    display: grid;
}

aside {
    background-color: deepskyblue;
    grid-row: 1 / 3;
}

header {
    background-color: white;
}

main {
    background-color: aliceblue;
}