* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.grid > * {
    display: grid;
}

aside {
    background-color: rgb(0, 160, 255);
    grid-row: 1 / 3;
    padding: 1.5rem;
    display: grid;
    align-content: start;
    gap: 2rem;
    color: white;
}

nav {
    display: grid;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    background-color: rgba(211, 211, 211, 0.7);
    border-radius: 10px;
}

button {
    background: none;
    border: none;
    padding: 0.5rem;
    border-radius: 50%;
}

button:hover {
    background-color: rgba(211, 211, 211, 0.7);
}

.dashboard, nav > a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.dashboard {
    padding: 0;
}

header {
    background-color: white;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    z-index: 10;
}

.upper, .lower, .lower > * {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lower > * {
    padding: 0;
    gap: 1rem;
}

input {
    width: 50rem;
    height: 2rem;
    padding: 1rem;
    font-size: large;
    border-radius: 2rem;
    background-color: rgb(220, 225, 240);
    border: none;
}

.searchbar, .profile, #profile-upper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#profile-upper {
    border-radius: 1rem;
}

.profile-lower {
    background-color: rgba(211, 211, 211, 0.7);
    border: 1px solid black;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.greeting {
    display: grid;
}

.media button {
    background-color: rgb(0, 160, 255);
    width: 7rem;
    border-radius: 1rem;
    font-size: small;
    font-weight: 600;
    color: white;
}

.media button:hover {
    background-color: rgb(0, 100, 160);
}

main {
    background-color: aliceblue;
}

aside svg {
    fill: white;
}